[Desktop Entry]
Name=Voxgram
Comment=New era of messaging
TryExec=Voxgram
Exec=Voxgram -- %U
Icon=org.telegram.desktop
Terminal=false
StartupWMClass=VoxgramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/vg;x-scheme-handler/opengram;x-scheme-handler/tonsite;
Keywords=voxgram;chat;im;messaging;messenger;sms;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Voxgram -quit
Name=Quit Voxgram
Icon=application-exit
